# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Project specific
failed_files/
data/
*.db
processing_history.db
processing_history_history.db
